.common-button{
    // Your button styles here
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.875rem;
    border: none;
    background-color: $global-primary-color;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.common-sub-heading{
    position: relative;
    padding-left: 30px;
    &::before{
        content: "";
        background: $global-primary-color;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @media(max-width: 768px){
            display: none;
          }
    }
}