.common-button {
  // Your button styles here
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.875rem;
  border: none;
  background-color: $global-primary-color;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.common-sub-heading {
  position: relative;
  padding-left: 30px;
  &::before {
    content: "";
    background: $global-primary-color;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.sub-form {
  border-radius: 15px !important;
  padding: 50px !important;
  background: $global-primary-color;
  @media (max-width: 576px) {
    padding: 20px !important;
  }
  &-heading {
    .elementor-heading-title {
      font-size: 42px;
      color: #fff;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }
  }
  .sub-form-form {
    position: relative;
    &::before {
      content: "";
      background: url("./../images/cursive-arrow.svg");
      position: absolute;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: contain;
      left: -80px;
      top: 90%;
      @media (max-width: 768px) {
        left: -28px;
        top: -70%;
        transform: rotate(85deg);
      }
      @media (max-width: 576px) {
        left: -30px;
        top: -40%;
      }
    }
    form {
      input[type="email"] {
        padding: 20px;
        background-color: #fff;
        font-size: 14px;
        color: #000;
        border: none;
        width: 80%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      input[type="submit"] {
        padding: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
        background: url("./../images/form-arrow.svg") no-repeat center center;
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        background-size: cover;
        height: 100%;
      }
    }
  }
}

.datafence-button {
  .elementor-button {
    padding: 20px 30px;
    border-radius: 50px !important;
    background-color: $global-primary-color;
    .elementor-button-text {
      color: #fff;
    }
  }
}

.common-left-corner-border {
  z-index: 9999;
  .elementor-heading-title {
    position: relative;
    padding: 10px;
    background: #fff;
    font-size: 36px;
    &::before {
      content: "";
      background-color: $global-primary-color;
      width: 50px;
      height: 50px;
      position: absolute;
      top: -7px;
      left: -6px;
      z-index: -1;
    }
  }
}


.bg-white-heading{
  .elementor-heading-title{
    background: #fff !important; 
  }
}


.common-companies-grid{
  &-content-col{
    .common-companies-grid-btn{
      .elementor-button{
        padding: 20px 40px;
        border-radius: 50px;
        background-color: $global-primary-color;
      }
    }
  }
  &-image-col{
    .e-con-inner{
      .elementor-element{
        padding: 40px;
        border: 1px solid #f2f2f2;
      }
    }
  }
}