* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "variables.scss";

// Mixins
@import 'mixins/mixins';

@import "common.scss";
@import "base/typography";
@import "layout/header";
@import "components/breadcrumbs";
@import "layout/layout";
@import "layout/footer";



@import "pages/homepage";
@import "pages/contact-us";
@import "pages/about-us";
@import "pages/our-partener";
@import "pages/our-approach";

@import "components/portfolio";
@import "components/testimonial";
@import "components/datafence_blogs";
@import "components/team-member";
@import "components/team-member2";
@import "components/subscribe-form";