.footer-popup-overlay,
.course-popup-overlay {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  .footer-popup {
    // padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }
    .footer-img {
      width: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .footer-content-form {
      width: 50%;
      padding: 20px 30px 20px 20px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      .datafence-close-mark {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        font-size: 30px;
        z-index: 9999;
        &:hover {
          color: $global-primary-color;
          cursor: pointer;
        }
      }
      .heading {
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        margin-bottom: 20px;
      }
      .popup-form {
        form {
          .name-email-field {
            display: flex;
            gap: 10px;
            @media(max-width: 576px){
              flex-direction: column;
            }
          }

          input,
          textarea,
          select {
            padding: 15px 10px;
            background: #d9d9d9;
            width: 100%;
            border: 0;
            outline: none;
            margin-bottom: 20px;
          }
          textarea {
            resize: none;
            height: 100px;
          }
          input[type="submit"] {
            width: fit-content;
            padding: 15px 10px;
            background: $global-primary-color;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            max-width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-popup-overlay {
    .footer-popup {
      width: 90% !important;
      .footer-img {
        display: none;
      }
      .footer-content-form {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-popup-overlay,
  .course-popup-overlay {
    .footer-popup {
      width: 100%;
      .footer-content-form {
        width: 100%;
        .heading {
          font-size: 20px;
        }
        .desc {
          font-size: 12px;
        }
        .popup-form {
          input,
          textarea {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
